body { 
  font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 3rem;
    margin-right: 3rem;
}


.coffee-container {
    
    background-color: #f8f7f5;
    border-radius: 10px;
    justify-content: center;
    align-items:center;
    margin: 10rem;
    

  }


  .coffee-image {
    width: 600px;
    height: 300px;
    border-radius:1rem
    
  
  }

 
  .coffee-details {
    color:#000000
  }


  .coffee-title {
    font-size: 15px;
    color: #000000;
    padding: 0.5rem;
  }

    .coffee-description {
        font-size: 16px;
        color: #732f08;
        margin: 10px 0;
    }
  .buy-now-button {
    display: flex;
    justify-content: center;
  }

  .buy-now-button {
    background-color: #000a7c;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px; 
    font-weight: bold;
    text-decoration: none;
  }
  .coffee-price {
    font-size: 30px;
    color: #0088ff;
    margin: 10px ;
    font-weight: bold;
  }